# Executables i fitxers binaris / objectes
*.out
*.exe
*.o
*.obj
*.s.o
*.a
!zeos/libzeos.a

# Fitxers generats per ZeOS
zeos/system
zeos/user
zeos/bootsect
zeos/build
system
user
bootsect
build

# Logs i sortides de simuladors / emuladors
bochsout.txt
*.log

# Fitxers generats pel compilador / enllaçador
*.elf
*.bin
*.hex
*.map

# Fitxers de depuració i profiling
*.dSYM/
*.su
*.idb
*.pdb
*.gcda
*.gcno
*.gcov

# Dependències generades automàticament
*.d
